@import "@/style/_mixin/flex.scss";

.login{
  width: 100vw;
  height:100vh;
  @include flex();
  background-color: #8EC5FC;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);

  &-inner{
    width: 50vw;
    height: 50vh;
    min-width: 800px;
    min-height: 500px;
    border-radius: 20px;
    background-color: #fff;
    text-align: center;
    @include flex(column,space-between);
  }

  &__title{
    color:#333;
    font-size: 28px;
    font-weight: 500;
    margin-top: 60px;
  }


  &-form{
    padding-top: 30px;
  }
}