.ripple{
  position: absolute;
  top:0;
  left:0;
  z-index: 100;
  border-radius: 50%;
  background-color: currentColor;
  opacity: 0;
  transition: transform .2s cubic-bezier(.68,.01,.62,.6), opacity .08s linear;
  will-change: transform,opacity;
  pointer-events: none;
}